/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (called in normalize-fwd.css)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Video Background */

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    z-index: -1;
}


/* Typography
--------------------------------------------- */
body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: antiquewhite;
    font-size: 5rem;
  }
  
h1 {
    writing-mode: vertical-rl;
    position: sticky;
    left: 0;
    top: 300px;
    
}

  p {

  }
  
  /* Elements
  --------------------------------------------- */
  ul {

  }
  
  /* Links
  --------------------------------------------- */
  a,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    color: antiquewhite;
    text-decoration: none;
  }
  
  a {

  }
  
  a:visited {
  
  }
  
  a:hover {

  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
  }
  
  /*--------------------------------------------------------------
  # Layout
  --------------------------------------------------------------*/
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Horizontal Scrolling Prevention */
  }
  
  main {
    line-height: 1.5;
  }
  
  /*--------------------------------------------------------------
  # Components
  --------------------------------------------------------------*/
  
  /* Header
  --------------------------------------------- */
  

  
  /* Main
  --------------------------------------------- */
  

  
  /* Footer
  --------------------------------------------- */
  
  